<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>

	<body>
		<p>
			Before Yield
		</p>

		<div>
			<%= insert %>
		</div>

		<p>
			After Yield
		</p>
	</body>
</html>